<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ChunBo UI</title>
        <link rel="stylesheet" href="css/bui.css" type="text/css" media="screen">
        <style>
			dt.demo{padding:5px 10px;background:#777;color:#fff;font-size:18px;}
			dd.demo{padding:10px;}
        </style>
    </head>
    <body class="demo">
		<dl class="demo">
			<dt class="demo">Button Type</dt>
			<dd class="demo">
				<a href="#" class="btn">a</a> <input type="button" class="btn" value="input"> <button class="btn">button</button>
			</dd>
			<dt class="demo">Button States</dt>
			<dd class="demo">
				<a href="#" class="btn btn-main">btn-main</a> <a href="#" class="btn btn-sub">btn-sub</a> <a href="#" class="btn btn-hot">btn-hot</a> <a href="#" class="btn">btn</a> <a href="#" class="btn btn-disable">btn-disable</a>
			</dd>
			<dt class="demo">Button States</dt>
			<dd class="demo">
				<a href="#" class="btn btn-main btn-l">btn-l</a> <a href="#" class="btn btn-sub btn-l">btn-l</a><br><br><a href="#" class="btn btn-main btn-m">btn-m</a> <a href="#" class="btn btn-sub btn-m">btn-m</a><br><br><a href="#" class="btn btn-main btn-s">btn-s</a> <a href="#" class="btn btn-sub btn-s">btn-s</a>
			</dd>
			<dt class="demo">Headings & Paragraph</dt>
			<dd class="demo">
				<h1>h1.这里是标题<small>这里是副标题</small></h1>
				<h2>h2.这里是标题<small>这里是副标题</small></h2>
				<h3>h3.这里是标题<small>这里是副标题</small></h3>
				<h4>h4.这里是标题<small>这里是副标题</small></h4>
				<h5>h5.这里是标题<small>这里是副标题</small></h5>
				<h6>h6.这里是标题<small>这里是副标题</small></h6>
				<br>
				<p>不靠农药 只靠汗水 每日都是饱满清脆的蔬菜</p>
				<p class="sub">不靠农药 只靠汗水 每日都是饱满清脆的蔬菜</p>
				<small>不靠农药 只靠汗水 每日都是饱满清脆的蔬菜</small>
				<p><a href="#">北门云南石屏腐竹</a>用泉水磨制而成，自然金黄发亮，味道鲜美。凉拌清脆爽口，热炒口感筋道。在享受美味的其同时，北门石屏腐竹的营养价值也不可忽视。</p>
			</dd>
			<dt class="demo">Lines</dt>
			<dd class="demo">
				<hr>
				<hr class="sub">
			</dd>
			<dt class="demo">paginator</dt>
			<dd class="demo">
				<div class="paginator">
					<a href="#" class="prev">&laquo;&nbsp;上一页</a>
					<a href="#" class="on">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#" class="next">下一页&nbsp;&raquo;</a>
				</div>
			</dd>
			<dt class="demo">Tabs Tags Label</dt>
			<dd class="demo">
				<span class="tags"></span>
				<br>
				<ul class="tabs tabs-3">
					<li class="on"><a href="#">所有评论(531)</a><i></i></li>
					<li><a href="#">有晒单的评论(53)</a><i></i></li>
					<li><a href="#">有晒单的评论(53)</a><i></i></li>
				</ul>
				<br>
				<ul class="tabs tabs-mini">
					<li class="on"><a href="#">用支付密码找回</a><i></i></li>
					<li><a href="#">用电话找回</a><i></i></li>
					<li><a href="#">用密码找回</a><i></i></li>
				</ul>
				<br>
				<ul class="tabs tabs-micro">
					<li class="on"><a href="#">用支付密码找回</a><i></i></li>
					<li><a href="#">用电话找回</a><i></i></li>
					<li><a href="#">用密码找回</a><i></i></li>
				</ul>
			</dd>
			<dt class="demo">Checkbox & Radio</dt>
			<dd class="demo">
				<label for="c01" class="checkbox"><input type="checkbox" id="c01" name="">Checked</label>
				<label for="r01" class="radiobox"><input type="radio" id="r01" name="r00">radio 1</label>
				<label for="r02" class="radiobox"><input type="radio" id="r02" name="r00">radio 2</label>
			</dd>
			<dt class="demo"></dt>
			<dd class="demo"></dd>
			<dt class="demo"></dt>
			<dd class="demo"></dd>
		</dl>
    </body>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/bui.js"></script>
</html>

